[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = ">=1.10.0"
stevedore = ">=1.20.0"
colorama = ">=0.3.9"
GitPython = ">=1.0.1"
PyYAML = ">=5.3.1"
pbr = "*"

[dev-packages]

[requires]
python_version = "2.7"
